.PS-type-Normal    { background: rgb(173, 165, 148); }
.PS-type-Fighting  { background: rgb(165, 82, 57); }
.PS-type-Flying    { background: rgb(156, 173, 247); }
.PS-type-Poison    { background: rgb(181, 90, 165); }
.PS-type-Ground    { background: rgb(214, 181, 90); }
.PS-type-Rock      { background: rgb(189, 165, 90); }
.PS-type-Bug       { background: rgb(173, 189, 33); }
.PS-type-Ghost     { background: rgb(99, 99, 181); }
.PS-type-Steel     { background: rgb(173, 173, 198); }
.PS-type-Fire      { background: rgb(247, 82, 49); }
.PS-type-Water     { background: rgb(57, 156, 255); }
.PS-type-Grass     { background: rgb(123, 206, 82); }
.PS-type-Electric  { background: rgb(255, 198, 49); }
.PS-type-Psychic   { background: rgb(255, 115, 165); }
.PS-type-Ice       { background: rgb(90, 206, 231); }
.PS-type-Dragon    { background: rgb(123, 99, 231); }
.PS-type-Dark      { background: rgb(115, 90, 74); }
.PS-type-Fairy     { background: rgb(255, 101, 213); }
.PS-type-Stellar {
    background: linear-gradient(90deg, rgb(255, 0, 85), rgb(0, 255, 85), rgb(0, 85, 255));
    border: 1px solid rgb(255, 0, 85);
}

.PS-type-color {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: middle;
  border-radius: 3px;
  border: 1px solid #888;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 5px;
}

.options {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.switch-row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  margin-top: 4px;
}

.switch-label {
  flex: 1;
  margin-right: 8px;
  font-weight: bold;
  white-space: nowrap;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  flex-shrink: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #ccc;
  transition: .1s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}
input:checked + .slider:before {
  transform: translateX(22px);
}

.psplus-title {
  font-family: Arial, sans-serif;
  font-size: 2.2em;
  color: #2572a8;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}